---
import AboutLayout from '../layouts/LayoutAbout.astro';
const pageTitle = "SLOT. About ";
---
<!-- 
' se genera la pagina index.astro a partir del archivo plantilla ArchivoLayout01'
-->


<AboutLayout pageTitle={pageTitle}>
  <h2 >AboutLayout.subtítulo</h2>
</ALayout>