---
import '../styles/global.css';
import ComponenteNavigation from "../components/Navigation.astro";

const pageTitle = "Miii blog de Astro aprendizaje.variable pagetitle";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    
  </head>

  <body>
	<!-- se reemplaza todo este bloque por Navigation:
		<a href="/" > Inicio </a>
		<a href="/about/">Sobre mi</a>
		<a href="/blog/">Blogs</a>
	 -->
	 <ComponenteNavigation />

    <h1>Mi blog de Astro aprendizaje</h1>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>
      <li> <a href="/posts/post-1">Publicación 01</a></li>
      <li> <a href="/posts/post-2">Publicación 02</a></li>
      <li> <a href="/posts/post-3">Publicación 03</a></li>
    </ul>
   
  </body>
</html>
