---
import LayoutBlog from '../layouts/LayoutBlog.astro';
const pageTitle = "SLOT. Blog"  
---
<!-- 
' se genera la pagina blog.astro a partir del archivo plantilla LayoutBlog'
-->


<LayoutBlog pageTitle={pageTitle}>
  <h2 style="color: blueviolet;">BLOG.Subtítulo</h2>
</LayoutBlog>