---
import IndexLayout from '../layouts/LayoutIndex.astro';
const pageTitle = "SLOT. Index ";
---
<!-- 
' se genera la pagina index.astro a partir del archivo plantilla ArchivoLayout01'
-->


<IndexLayout pageTitle={pageTitle}>
  <h2 style="color: blueviolet;">IndexLayout.subtítulo del blog</h2>
</IndexLayout>