---
import ComponenteNavigation from "./Navigation.astro"
import ComponenteHamburgesa from './Hamburgesa.astro';
---
<header>
    <nav>
        <ComponenteHamburgesa />
        <ComponenteNavigation/>
    </nav>
</header>