---
const { frontmatter } = Astro.props;
---

<h1>Titulo:{frontmatter.title}</h1>
<h2>Descripción:{frontmatter.description}</h2>
<p>Escrito por:{frontmatter.author}</p>
<p>Publicado el: {frontmatter.pubDate}</p>
<slot />
